<launch>
    <!-- Arguments -->
    <arg name="rvizconfig" default="$(find mobile_bot)/rviz/mobile_bot.rviz" />

    <!-- Start Gazebo -->
    <include file="$(find mobile_bot_gazebo)/launch/mobile_bot_gazebo.launch"/>


    <!-- Start robot state publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Load controller config file to parameter server -->
    <rosparam command="load" file="$(find mobile_bot)/config/mobile_bot_control.yaml" />

    <!-- Load robot in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <!-- Start controller spawner node -->
    <node name="mobile_bot_controller_spawner" pkg="controller_manager" type="spawner"
        args="/mobile_bot/diff_drive_controller 
              /mobile_bot/joint_state_controller"/>

    <!-- <node name="depth_camera_broadcaster" pkg="tf" type="static_transform_publisher"> 
        <args="0 0 0 -0.500 0.500 -0.500 0.500 camera_link camera_depth_frame 100" /> -->
    
    <node name="depth_camera_broadcaster" pkg="tf" type="static_transform_publisher"
        args="0 0 0 -1.57079632679 0 -1.57079632679 camera_link camera_depth_frame 100" />

</launch>