<launch>
    <!-- Arguments -->
    <arg name="robot" default="$(find mobile_bot)/urdf/mobile_bot/mobile_bot.urdf.xacro" />
    <arg name="room" default="$(find mobile_bot)/urdf/room/room.urdf.xacro" />
    <arg name="rvizconfig" default="$(find mobile_bot)/rviz/mobile_bot.rviz" />

    <!-- Load the empty world from gazebo_ros package -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mobile_bot)/urdf/world/empty_world.world"/>
    </include>

    <!-- Load robot description xacro to the parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot)" />
    <param name="room_description" command="$(find xacro)/xacro $(arg room)" />
    
    <!-- Spawn the robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -x 1.0 -y 1.0 -z 1.0 -model mobile_bot" />
    <!-- Spawn room model into Gazebo -->
    <node name="spawn_room" pkg="gazebo_ros" type="spawn_model" 
        args="-param room_description -urdf -model room" />

    <!-- Start robot state publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Load controller config file to parameter server -->
    <rosparam command="load" file="$(find mobile_bot)/config/mobile_bot_control.yaml" />

    <!-- Load robot in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <!-- Start controller spawner node -->
    <node name="mobile_bot_controller_spawner" pkg="controller_manager" type="spawner"
        args="/mobile_bot/diff_drive_controller 
              /mobile_bot/joint_state_controller"/>

    <!-- Mobile bot GPS -->
    <rosparam command="load" file="$(find mobile_bot)/config/mobile_bot_gps.yaml" />
    <node name="mobile_bot_gps" pkg="mobile_bot" type="mobile_bot_noisy_gps.py"/>

    <!-- Odometry subscriber for dead reckoning -->
    <node name="mobile_bot_dead_reckoning" pkg="mobile_bot" type="mobile_bot_dead_reckoning.py" />
    <node name="mobile_bot_range_sensor" pkg="mobile_bot" type="range_sensors.py" />

    <!-- Start Proximity sensor node -->
    <node name="mobile_bot_proximity_sensor" pkg="mobile_bot" type="mobile_bot_proximity_sensor.py" />

    <!-- Mobile bot position plotter -->
    <node name="mobile_bot_plotter" pkg="mobile_bot" type="plot_pose.py"/>
</launch>