<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobot_base_link">
    <link name="base_link">
    </link>
    <link name="main_body">
        <visual>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${bodyheight}"/>
            </geometry>
            <origin xyz="${bodyOX} ${bodyOY} ${bodyOZ}" rpy="0 0 0"/>
        </visual>
        <collision>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${bodyheight}"/>
            </geometry>
            <origin xyz="${bodyOX} ${bodyOY} ${bodyOZ}" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="100"/>
            <inertia ixx="10.0" ixy="0.0" ixz="0.0"
                     iyy="10.0" iyz="0.0"
                     izz="10.0"/>
        </inertial>
    </link>

    <joint name="main_body_joint" type="fixed">
        <parent link="base_link"/>
        <child link="main_body"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>