<launch>
    <include file="$(find mobile_bot)/launch/mobile_bot_teleop.launch">
        <arg name="gazebo_gui" value="false" />
    </include>
        <!-- <arg name="rvizconfig" value="$(find mobile_bot_navigation)/rviz/mobile_bot_mapping.rviz" />
    </include> -->

    <!-- Start gmapping node -->
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping">
        <!-- args="scan:=/mobile_bot/laser/scan" > -->
        <remap from="/scan" to="/mobile_bot/laser/scan"/>
        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-10.0"/>
        <param name="xmax" value="10.0"/>
        <param name="ymax" value="10.0"/> 
    </node>

</launch>