<launch>

    <include file="$(find mobile_bot)/launch/mobile_bot_teleop.launch">
        <arg name="rvizconfig" value="$(find mobile_bot_navigation)/rviz/mobile_bot_bug.rviz" />
        <arg name="gazebo_gui" value="false" />
    </include>


    <node name="map_server" pkg="map_server" type="map_server" 
    args="$(find mobile_bot_navigation)/maps/costmap/costmap.yaml">
        <remap from="/map" to="/costmap"/>
    </node>

    <!-- run robot localization -->
    <include file="$(find mobile_bot_ekf)/launch/mobile_bot_robot_localization_ekf.launch"/>


    <node name="proximity_sensor" pkg="mobile_bot" type="ProximitySensor.py"/>
    <node name="costmap_subscriber" pkg="mobile_bot_navigation" type="CostMapSubscriber.py" />

    <!-- Run Move Base -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find mobile_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find mobile_bot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find mobile_bot_navigation)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find mobile_bot_navigation)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find mobile_bot_navigation)/config/global_costmap_params.yaml" command="load"/>
        <remap from="/odom" to="/odometry/filtered"/>
    </node>

</launch>