<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="mobile_bot_ekf" clear_params="true">
    <rosparam command="load" file="$(find mobile_bot_ekf)/config/mobile_bot_ekf.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
